<h1>Sign in with a one-time code</h1>

<%= render "supabase/rails/shared/flash" %>

<%= form_with url: otp_index_path do |form| %>
  <%= form.email_field :email, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email] %><br>
  <%= form.submit "Send me a code" %>
<% end %>
<br>

<%= link_to "Back to sign in", new_session_path %>
