<div data-test="auth-split" class="relative grid h-dvh flex-col items-center justify-center px-8 sm:px-0 lg:max-w-none lg:grid-cols-2 lg:px-0">
  <div class="relative hidden h-full flex-col p-10 text-white lg:flex dark:border-e dark:border-neutral-800">
    <div class="absolute inset-0 bg-neutral-900"></div>

    <%= link_to root_path, class: "relative z-20 flex items-center text-lg font-medium" do %>
      <span class="flex h-10 w-10 items-center justify-center rounded-md">
        <%= render AppLogoIconComponent.new(class_name: "me-2 h-7 fill-current text-white") %>
      </span>
      <%= AppLogoComponent::BRAND_NAME %>
    <% end %>

    <div class="relative z-20 mt-auto">
      <blockquote class="space-y-2">
        <p class="text-lg font-semibold">&ldquo;The best way to predict the future is to invent it.&rdquo;</p>
        <footer class="text-sm opacity-80">Alan Kay</footer>
      </blockquote>
    </div>
  </div>

  <div class="w-full lg:p-8">
    <div class="mx-auto flex w-full flex-col justify-center space-y-6 sm:w-[350px]">
      <%= link_to root_path, class: "z-20 flex flex-col items-center gap-2 font-medium lg:hidden" do %>
        <span class="flex h-9 w-9 items-center justify-center rounded-md">
          <%= render AppLogoIconComponent.new(class_name: "size-9 fill-current text-black dark:text-white") %>
        </span>
        <span class="sr-only"><%= AppLogoComponent::BRAND_NAME %></span>
      <% end %>

      <% if title.present? || description.present? %>
        <%= render AuthHeaderComponent.new(title: title, description: description) %>
      <% end %>

      <%= yield %>
    </div>
  </div>
</div>
